@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  background: linear-gradient(-45deg, #ffe4e1, #ffb7c5, #fddde6, #fff0f5); 
  /* misty rose, cherry blossom pink, pale rose, lavender blush*/
  background-size: 400% 400%;
  animation: sakuraGradientShift 20s ease-in-out infinite;
  font-family: 'Ms Madi', cursive, sans-serif;
  text-align: center;
  scroll-behavior: smooth;
  color: #36454f; /*charcoal*/
  text-shadow:
    -0.5px -0.5px 0 #ffe6ee,
     0.5px -0.5px 0 #ffe6ee,
    -0.5px  0.5px 0 #ffe6ee,
     0.5px  0.5px 0 #ffe6ee;
}

.dark body {
  background: linear-gradient(-45deg, #1e1a1d, #2c1f2e, #3b2637, #4b1e2e); 
  /*black with plum hints, deep eggplant or mulberry, warm dark rosewood, dark burgundy wine*/
  background-size: 400% 400%;
  animation: wineGradientShift 20s ease-in-out infinite;
  color: #d4af7f;
  text-shadow:
    -0.5px -0.5px 0 #722f37,
     0.5px -0.5px 0 #722f37,
    -0.5px  0.5px 0 #722f37,
     0.5px  0.5px 0 #722f37;
}

@keyframes sakuraGradientShift {
  0% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 50% 75%;
  }
}

@keyframes wineGradientShift {
  0% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 50% 75%;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text-gradient {
  display: inline-block;
  background: linear-gradient(to left, #f43f5e 50%, #6b7280 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-background-clip: text;
  transition: background-position 0.6s ease;
}

.dark .text-gradient {
  background: linear-gradient(to left, #fca5a5 50%, #d1d5db 50%);
}

.text-gradient:hover {
  background-position: left bottom;
}
